body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #20232a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: #282c34;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  width: 340px;
}

#display {
  width: 94%;
  height: 60px;
  font-size: 24px;
  text-align: right;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #1e2128;
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 60px;
  gap: 10px;
}

.btn {
  font-size: 18px;
  background-color: #3b3f46;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #50545d;
}

.clear {
  background-color: #ff3b3b;
}

.clear:hover {
  background-color: #ff5555;
}

#equals {
  background-color: #2ecc71;
}

#equals:hover {
  background-color: #38d27a;
}


/* Counter style */
.counter-box {
  margin-top: 15px;
  text-align: center;
  color: #ccc;
  font-size: 16px;
}

.counter-box span {
  color: #2ecc71;
  font-weight: bold;
}