body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    transition: background-color 0.5s ease;
}

p {
    color: blue;
    font-size: 18px;
}

#infoBox {
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #333;
    width: 300px;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #333;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

input[type="color"] {
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 80px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
